includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

